.user-msg {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: rgba(10, 110, 156, 0.863);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.308);
  padding: 1rem;
  height: 10vh;
}

.msg-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  transition: color 0.2s;
}

.msg-link:hover {
  color: lightgreen;
}
